* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.folders {
    flex-basis: 20%;
    border-right: 1px solid black;
    padding: 5px;
}

.notes {
    flex-basis: 80%;
}
